@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Englebert&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Scrollbar Customized */
::-webkit-scrollbar {
    height: 16px;
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
}

::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 60px;
}

.active {
    background-color: #f1f1f1 !important;
    border: solid 3px blue !important;
    border-radius: 0px;
}

.nav-link:hover{
    background-color: #f1f1f1;
}

main {
    background-color: white;
}

#sidebar {
    position: relative;
    transition: display 1s ease-in-out !important;
}

#botao-abrir-interno {
    position: absolute;
    top: 30px;
    right: -20px;
}

#botao-abrir-externo {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 30px;
}

.botao-sidebar {
    background-color: #f1f1f1 !important;
    border: solid 2px gray !important;
}

.thumbnail {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 640px;
    margin: auto;
}

#video {
    width: 100%;
    display: block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7) no-repeat center;
    background-size: contain;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.play-button:active {
    transform: translate(-50%, -50%) scale(0.95);
}

/* Configurações para dispositivos com largura menor que 1400 px: */
@media (max-width: 1399.98px) {

    #sidebar {
        display: none;
    }

    #botao-abrir-externo {
        display: block !important;
    }

    .nav-item {
        text-align: center;
    }

    /* Escondendo os textos dentro da sidebar */
    #sidebar span {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    .thumbnail {
        object-fit: cover;
        width: 100px;
        height: 130px;
    }

}