.thumbnail {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 640px;
    margin: auto;
}

#video {
    width: 100%;
    display: block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7) no-repeat center;
    background-size: contain;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.play-button:active {
    transform: translate(-50%, -50%) scale(0.95);
}