{% extends "baseSecao.html" %}

{% load static %}

{% block atividade %}

    <h5 class="text-center texto-tema py-3 fw-bold">Escolha a opção correta!</h5>

    <form class="resposta-form mb-1">
        <div class="d-flex flex-row justify-content-center">
            <div class="d-flex flex-column">
                <input type="radio" class="btn-check" name="resposta" id="opcaoA" value="A">
                <label class="btn btn-outline-primary mb-1" for="opcaoA">{{ atividade.alternativaA }}</label>
                <input type="radio" class="btn-check" name="resposta" id="opcaoB" value="B">
                <label class="btn btn-outline-primary mb-1" for="opcaoB">{{ atividade.alternativaB }}</label>
                <input type="radio" class="btn-check" name="resposta" id="opcaoC" value="C">
                <label class="btn btn-outline-primary mb-1" for="opcaoC">{{ atividade.alternativaC }}</label>
            </div>
            <button class="btn btn-primary cor-tema ms-1" id="avancar">Avançar</button>
        </div>
    </form>

{% endblock %}