{% extends "baseSecao.html" %}

{% load static %}

{% block atividade %}

    <h5 class="text-center texto-tema py-3 fw-bold">Coloque as palavras em ordem para formar uma frase!</h5>

    <form class="resposta-form mb-1"> {% csrf_token %}
        <div class="d-flex flex-row justify-content-center">
            <div class="d-flex flex-column rounded caixa-resposta border border-2 border-primary-subtle">
                <div id="palavras" class="p-2 border-2 border-primary-subtle border-bottom">
                    {% for palavra in palavras %}
                        <button class="btn btn-primary mx-1 my-1 p-3">{{ palavra }}</button>
                    {% endfor %}
                </div>
                <div id="resposta" class="p-2">
                    <input type="text" class="d-none" name="resposta">
                </div>
            </div>
            <button class="btn btn-primary cor-tema ms-1" id="avancar">Avançar</button>
        </div>
    </form>

    

{% endblock %}

{% block script %}

    <script src="{% static '/javascript/ordenarPalavras.js' %}"></script>

{% endblock %}
